/*CSS document*/
body {
	background: #8B8989;
	font-family: Arial, sans-serif;
	font-size: 14pt;
	font-style: normal;
}
table {
	height: 20px;
	padding: 10px;
	margin: 30px 0 0 20px;
}
td, tr {
    padding: 10px;
    }
table.foo {
	border: solid 2px;
	margin: 0;
	padding: 0;
    text-align: center;
}
.foo td {
	height: 20px;
	border: solid 1px;
}
a:link {
	color : SaddleBrown;
	font-family : comic sans ms;
	font-size: 14pt;
}
a:hover {
    color : LemonChiffon; text-decoration : none;
}
/* The hint to Hide and Show */

label span {
    color: #EA5200;
    font-weight:bold;
}
label.error {
    background:url("images/unchecked.gif") no-repeat 0px 0px;
    padding-left: 17px;
    padding-bottom: 5px;
    color: Tomato;
    font-weight:bold;
}
label.checked {
    background:url("images/checked.gif") no-repeat 0px 0px;
}
.complete {
    border: solid 1px;
    display: none;
    padding: 0 5px 0 5px;
    background: green;
    position: relative;
    left: 25px;
}
.newRow {
    background: green;
}

div#form_users {
	font-size: 12pt;
	font-style: italic;
	text-align: left center;
}
select {
	size: 1;
	width: 142px;
}


